// -----------------------------
// PADDINGS
// -----------------------------

.padding_common {
    padding: 2rem 2rem;
}

.padding_bigger {
    padding: 3rem 3rem;
}

.padding_common_top_bottom {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding_medium_top_bottom {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.padding_bigger_top_bottom {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.padding_common_left_right {
    padding-left: 2rem;
    padding-right: 2rem;
}

.padding_top_bigger {
    padding-top: 4rem;
}

// -----------------------------
// MARGINS
// -----------------------------


.margin_top_for_equipment {
    margin-top: 40rem;
}

// ---
// BOTTOM

.margin_common_bottom {
    margin-bottom: .5rem;
}
.margin_common_bottom {
    margin-bottom: 1rem;
}
.margin_common_bottom {
    margin-bottom: 2rem;
}
.margin_common_bottom {
    margin-bottom: 3rem;
}

// ---
// TOP

.margin_top_small {
    margin-top: 1rem;
}
.margin_top_medium {
    margin-top: 2rem;
    
}
.margin_top_bigger {
    margin-top: 5rem;
    
}
.margin_top_big {
    margin-top: 6rem;
}

// ---
// TOP BOTTOM

.margin_top_bottom_small {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin_top_bottom_medium {
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
.margin_top_bottom_bigger {
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}
.margin_top_bottom_big {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

// -----------------------------
// CONTAINERS
// -----------------------------

.container_common {
    max-width: 86rem;
    margin: 0 auto;
}