// -----------------------------
// PADDINGS
// -----------------------------

.padding_common {
    padding: 2rem 2rem;
}

.padding_bigger {
    padding: 3rem 3rem;
}

.padding_common_top_bottom {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding_common_left_right {
    padding-left: 2rem;
    padding-right: 2rem;
}

// -----------------------------
// MARGINS
// -----------------------------


.margin_common_bottom {
    margin-bottom: .5rem;
}
.margin_common_bottom {
    margin-bottom: 1rem;
}
.margin_common_bottom {
    margin-bottom: 2rem;
}
.margin_common_bottom {
    margin-bottom: 3rem;
}

.margin_top_for_equipment {
    margin-top: 40rem;
}