.header {
    height: 60px; // making it fixed here so I can manipulate global font size
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background: rgba($main_color, .95);
    padding: 0 1rem;
    z-index: 33;

    & .header_container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.2rem;
    }

    &_hamburger,
    & .logoContainer {
        display: inline-block;
    }

    &_hamburger {
        cursor: pointer;

        &.active {

            .bar:nth-child(1) {
                opacity: 0;
                transform: translateY(-2rem);
            }

            .bar:nth-child(2) {
                transform: rotate(45deg);
            }

            .bar:nth-child(3) {
                transform: rotate(-45deg) translate(.6rem, -.7rem);
            }
        }

        &.inactive:hover {
            .bar {
                // animation: nudge_up_down_slightly .1s linear;
                pointer-events: none; // to avoid event target conflict
            }
        }

        .bar {
            width: 3rem;
            height: .23rem;
            background-color: $color_light;
            margin: .7rem 0;
            transition: .5s opacity, 1s transform;
        }
    }

    & .logoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .logo {
            & .logo_image {
                max-height: 4rem;
            }
        }
    }

    & .nav {
        display: none;
    }

    .menu {
        // temporarily
        // display: none;
        width: 100%;
        position: absolute;
        top: 100%;

        &_overlay {
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba($main_color, .95);
            transition: opacity .5s;
        }
        
        .mobile_nav {
            transition: all .7s;
            position: relative;
            @include flex_center_center;
            transform: translateX(-5rem);
            z-index: -1;
            
            &.active {
                z-index: 3;
                transform: translateX(0);
            }

            .nav_ul {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: auto;
                height: calc(100vh - 6rem);
                li {
                    margin: 2rem;
                    display: block;
                }
            }
        }
    }
}