// for blogs, projects, blog posts
.hero_common {
    background-image: url("../images/compressed/resized/rsz_blogs_hero (1).jpg");
    background-size: cover;
    min-height: 50vh;
    background-position: left center;
    position: relative;
    background-repeat: no-repeat;

    @include mqMin(37.5em) {
        background-image: url("../images/compressed/resized/rsz_1blogs_hero.jpg");
        background-position: center left;
    }

    @include mqMin(60em) {
        background-image: url("../images/compressed/resized/rsz_2blogs_hero.jpg");
        background-position: center;
    }

    & .hero_headline-container {
        position: absolute;
        top: 38%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 12rem;

        h1 {
            transition: opacity 1s;
            margin: auto;
        }
    }
}