// ---------------------------------------- 
// RESETTINGS SOME STYLES */ 
// ---------------------------------------- 

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a, a:focus, a:hover {
    text-decoration: none;
    color: black;
}
