.faded {
    opacity: 0 !important;
}

.visible {
    opacity: 1 !important;
}

.overflow_hidden {
    overflow: hidden;
}

.translate_away {
    transform: translateX(-100%);
}

.translate_to_default {
    transform: translateX(0);
}

.hamburger_transform_to_cross {
    @include hamburger_transform_to_cross;
}

.activeThumbPic {
    border: .2rem $main_color solid;
    padding: .3rem;
}

#scrollUp {
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: .5rem;
    background-color: $main_color;
    z-index: 99;
    transition: opacity 1s;
    opacity: 0;
    cursor: pointer;
    img {
        width: 3rem;
        height: 3rem;
        transform: rotate(180deg);
        pointer-events: none; // to avoid event target conflict
    }
}