// ---------------------------------------- */
// TYPOGRAPHY */
// ---------------------------------------- */

body {
    font-family: 'Quicksand', sans-serif;
    color: $color_text_default;
}

input,
textarea {
    @include placeholder() {
        font-family: 'Quicksand', sans-serif;
    }

    font-family: 'Quicksand',
    sans-serif;
}

button {
    font-family: 'Quicksand', sans-serif;
}

a {
    cursor: pointer;
}

.section_heading {
    position: relative;
    font-size: 1.9rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: .3rem;


    &::before {
        content: "";
        position: absolute;
        height: .5rem;
        border-top: .5rem solid $main_color;
        top: 10%;
        width: 10rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

.projects_main {
    .project_box {
        .project_heading {
            font-size: 2.8rem;
            text-align: center;
            font-weight: 400;
            letter-spacing: .3rem;
            text-transform: capitalize;
        }

        .project_text {
            font-size: 1.5rem;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.header {
    color: $color_light;

    .logoContainer {
        font-size: 1.9rem;
    }

    .nav {
        li {
            font-size: 2rem;

            &.nav_active {
                color: $color_dark;
            }
        }
    }

    .mobile_nav {
        li {
            color: $color_light;
            text-transform: uppercase;
            font-size: 3rem;
            letter-spacing: .3rem;
            text-align: left;

            &.nav_active {
                color: $color_dark;
            }
        }
    }
}

.hero {
    .hero_headline-container {
        color: $color_lightest;

        h1 {
            .hero_heading-top {
                font-size: 3.8rem;
                font-weight: 400;
                text-transform: uppercase;

                @include mqMin(21.875em) {
                    font-size: 4.4rem;
                }
                @include mqMin(31.5em) {
                    font-size: 6rem;
                }
                @include mqMin(37.5em) {
                    font-size: 8rem;
                }
                @include mqMin(43em) {
                    font-size: 10rem;
                }
                @include mqMin(52em) {
                    font-size: 12rem;
                }
                @include mqMin(60em) {
                    font-size: 14rem;
                }
            }

            .hero_heading-bottom {
                text-align: right;
                font-size: 1.4rem;
                font-weight: 500;

                @include mqMin(21.875em) {
                    font-size: 1.6em;
                }
                @include mqMin(31.5em) {
                    font-size: 1.8rem;
                }
                @include mqMin(37.5em) {
                    font-size: 2rem;
                }
                @include mqMin(43em) {
                    font-size: 2.2rem;
                }
                @include mqMin(52em) {
                    font-size: 2.4rem;
                }

            }
        }
    }
}

.hero_common {

    &.blog_post_hero {
        .hero_headline-container {
            h1 {
                .hero_heading-top {
                    text-transform: initial;
                }
            }
        }
    }

    .hero_headline-container {
        color: $color_lightest;
        background-color: rgba($main_color, .8);

        h1 {

            .hero_heading-top,
            .hero_heading-bottom {
                text-align: center;
            }

            .hero_heading-top {
                font-size: 2.6rem;
                font-weight: 300;
                text-transform: uppercase;
                @include mqMin(21.875em) {
                    font-size: 3rem;
                }
                @include mqMin(31.5em) {
                    font-size: 3.5rem;
                }
                @include mqMin(37.5em) {
                    font-size: 4rem;
                }
                @include mqMin(43em) {
                    font-size: 5rem;
                }
                @include mqMin(52em) {
                    font-size: 5.5rem;
                }
                @include mqMin(60em) {
                    font-size: 6rem;
                }
                
            }

            .hero_heading-bottom {
                font-size: 1.4rem;
                font-weight: 500;

                @include mqMin(21.875em) {
                    font-size: 1.6em;
                }
                @include mqMin(31.5em) {
                    font-size: 1.8rem;
                }
                @include mqMin(37.5em) {
                    font-size: 2rem;
                }
                @include mqMin(43em) {
                    font-size: 2.2rem;
                }
                @include mqMin(52em) {
                    font-size: 2.4rem;
                }
            }
        }
    }
}

.about {

    .about_1,
    .about_2 {
        color: $color_lightest;
        font-size: $font_common;
    }

    .about_heading {
        font-size: 3.6rem;
        text-transform: uppercase;
    }
}

.my_services {

    .service_heading {
        font-size: 2.5rem;
        text-align: center;
        text-transform: uppercase;
    }

    .service_text {
        font-size: $font_common;
        text-align: center;
    }
}

.posts_container {


    .post_box {

        .content_container {
            .post_heading {
                font-size: $font_common;
                font-weight: 600;

                @include mqMin(37.5em) {
                    height: 2.6rem;
                }

                @include mqMin(45.5.5em) {
                    height: initial;
                }
            }

            .post_text {
                font-size: $font_common;
            }

            .box_footer {
                .post_date {
                    font-size: $font_common;
                }
            }
        }
    }
}


.contact {
    .contact_text {
        font-size: $font_slightly_bigger;
        text-align: center;
    }
}

.footer {
    font-size: $font_slightly_smaller;
    text-align: center;

    .author {
        color: $main_color;
        font-weight: 500;
    }
}

.go_back_container {

    .go_back_text {
        font-size: $font_slightly_bigger;
        color: $main_color;
        letter-spacing: .1rem;
    }
}

.blog_post {
    .blog_post_sub_heading {
        font-size: 2.2rem;
        text-align: center;
    }

    p {
        font-size: $font_common;
    }
}


.comment_section {

    &.container_common {
        max-width: 76rem;
    }
    .title {
        font-size: $font_big;
    }

    .comment_box {
        .comment_content {
            .comment_aside {
                .comment_details {
                    span {
                        font-size: $font_common;
                    }
                }
            }

            .comment_title {
                font-size: $font_slightly_bigger;
                font-weight: 500;
            }

            .comment_text_box {
                .comment_text {
                    font-size: $font_common;
                }
            }
        }
    }
}