.blog_post_hero {
    background-image: url("../images/compressed/resized/rsz_big_35mm-analog-analogue-1002634.jpg");
    
    @include mqMin(37.5em) {
        background-image: url("../images/compressed/resized/rsz_1big_35mm-analog-analogue-1002634.jpg");
    }
    
    @include mqMin(60em) {
        background-image: url("../images/compressed/resized/rsz_2big_35mm-analog-analogue-1002634.jpg");
        
    }
}

.blog_post_main {

    .container_common {
        max-width: 86rem;
    }
    .go_back_container {
        display: flex;
        align-items: center;

        .go_back_img_cont {
            display: flex;
            flex-direction: column;
            opacity: .8;

            img {
                max-width: 2rem;
            }
        }

        .go_back_text {
            margin-left: .5rem;
        }
    }

    .blog_post {

        &_img_cont {

            @include mqMin(53.75em) {
                width: 86rem; // common container
                margin: 0 auto;
                padding: 0 2rem; // padding common
            }

            img {
                width: 100%;
                object-fit: cover;
                height: 20rem;
            }
        }

        p {
            margin-top: 1.3rem;
            margin-bottom: 1.3rem;
        }
    }

}

.comment_section {
    padding-bottom: 3rem;
    .comment_box {
        .comment_content {
            @include mqMin(47.5em) {
                display: flex;
            }

            .comment_aside {
                display: flex;
                justify-content: space-between;
                align-content: flex-start;

                @include mqMin(47.5em) {
                    flex-direction: column;
                }

                .author_img_cont {
                    img {
                        width: 15rem;
                        height: 15rem;
                        object-fit: cover;
                        @include tiny_shadow;
                        @include small_border_radius;
                    }
                }

                .comment_details {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    span {
                        padding-top: .15rem;
                        padding-bottom: .15rem;
                    }
                }
            }

            .comment_text_container {

                @include mqMin(47.5em) {
                    padding-left: 2rem;
                }

                .comment_title {
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                    @include mqMin(47.5em) {
                        padding-top: 0;
                    }
                }

                .comment_text_box {
                    .comment_text {
                        padding-top: .5rem;
                        padding-bottom: .5rem;
                    }

                    .button-like_container {
                        justify-content: flex-start;
                    }
                }

            }

        }
    }
}