.blog_blogs {
    .arrows {
        position: relative;
        max-width: 50rem;
        display: flex;
        justify-content: space-between;    
        align-items: center;
        margin: auto;
    }
}  