.projects_main {

    .container_common {
        max-width: 150rem;
    }

    .project_box {
        padding-bottom: 2rem;
        padding-top: 2rem;


        .project_text {
            margin-top: 1rem;
            @include flex_column_center_start;

            span {
                margin: .1rem;
            }
        }

        @include mqMin(60em) {
            &:not(:last-child) {
                padding-bottom: 4rem;
            }
        }

        .img_container_smaller {
            .slideshow_photo {
                transition: opacity .5s;
            }
        }

        .slideshow_thumb_container {
            .arrows {
                cursor: pointer;
            }

            .slideshow_photo {
                cursor: pointer;
                position: relative;
                
                transition: opacity 1s, padding .2s;
                &.faded {
                    pointer-events: none;
                }

                &:hover {
                    padding: .3rem;
                }
            }

            @include mqMax(60em) {

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(1, 11rem);
                grid-template-areas:
                    "one two three";

                .slideshow_photo {
                    opacity: 0;
                    width: 100%;
                    padding: .5rem;
                    margin: 0;

                    &:nth-child(odd) {
                        grid-area: one;
                    }

                    &:nth-child(even) {
                        grid-area: two;
                    }

                    &:nth-child(3n) {
                        grid-area: three;
                    }

                    &:nth-child(-n + 3) {
                        opacity: 1;
                    }
                }
            }

            @include mqMax(37.5em) {
                // height: 11rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, 11rem);

                grid-template-areas:
                    "one two";

                .slideshow_photo {
                    width: 100%;
                    opacity: 0;

                    &:nth-child(odd),
                    &:nth-child(even) {
                        opacity: 0;
                    }

                    &:nth-child(odd) {
                        grid-area: one;
                    }

                    &:nth-child(even) {
                        grid-area: two;
                    }

                    &:nth-child(-n + 2) {
                        opacity: 1;
                    }
                }
            }
        }



        @include mqMin(60em) {
            .slideshow_thumb_container {
                display: flex;
            }

            .arrows {
                display: none;
            }

            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(7, 9rem);

            grid-template-areas: "mp mp mp mp ph ph ph"
            "mp mp mp mp st st st"
            "mp mp mp mp st st st"
            "mp mp mp mp st st st"
            "mp mp mp mp st st st"
            "mp mp mp mp st st st"
            "mp mp mp mp pt pt pt";

            .img_container_smaller {
                grid-area: mp;

                .slideshow_photo {
                    @include small_border_radius();
                }
            }

            .project_heading {
                grid-area: ph;
            }

            .slideshow_thumb_container {
                grid-area: st;
                padding-left: 5rem;
                padding-right: 5rem;
                flex-wrap: wrap;
                justify-content: flex-start;
                flex-direction: column;

                img {
                    display: block;
                    border-radius: 0;
                    opacity: 1;
                }

                .slideshow_photo {
                    width: 50%;
                }
            }

            .project_text {
                grid-area: pt;
                padding-left: 5rem;
                justify-content: flex-end;
            }

            .project_heading {
                padding-top: 0;
            }

            .img_container_smaller {
                height: 100%;
            }

        }

        // mp - main photo
        // ph - project heading
        // st - slideshow thumbnails
        // pt - project text


        &:last-child {
            padding-bottom: 3rem;
        }
    }
}