*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-size: inherit; }

ul {
  list-style: none; }

li {
  display: inline-block; }

a,
a:focus,
a:hover {
  text-decoration: none;
  color: black; }

body {
  font-family: 'Quicksand', sans-serif;
  color: #4E4E4E; }

input,
textarea {
  font-family: 'Quicksand', sans-serif; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-family: 'Quicksand', sans-serif; }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    font-family: 'Quicksand', sans-serif; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    font-family: 'Quicksand', sans-serif; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    font-family: 'Quicksand', sans-serif; }

button {
  font-family: 'Quicksand', sans-serif; }

a {
  cursor: pointer; }

.section_heading {
  position: relative;
  font-size: 2.1rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: .1rem; }
  .section_heading::before {
    content: "";
    position: absolute;
    height: .5rem;
    border-top: 0.5rem solid #E54B4B;
    top: 10%;
    width: 10rem;
    left: 50%;
    transform: translateX(-50%); }

.projects_main .project_box .project_heading {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: .2rem;
  text-transform: capitalize; }

.projects_main .project_box .project_text {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase; }

.header {
  color: #EEE; }
  .header .logoContainer {
    font-size: 1.9rem; }
  .header .nav li {
    font-size: 2rem; }
    .header .nav li.nav_active {
      font-weight: 600; }
  .header .mobile_nav li {
    color: #EEE;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: .3rem;
    text-align: left; }
    .header .mobile_nav li.nav_active {
      font-weight: 600; }

.hero .hero_headline-container {
  color: white; }
  .hero .hero_headline-container h1 .hero_heading-top {
    font-size: 3.8rem;
    font-weight: 400;
    text-transform: capitalize; }
    @media (min-width: 21.875em) {
      .hero .hero_headline-container h1 .hero_heading-top {
        font-size: 4.4rem; } }
    @media (min-width: 31.5em) {
      .hero .hero_headline-container h1 .hero_heading-top {
        font-size: 6rem; } }
    @media (min-width: 37.5em) {
      .hero .hero_headline-container h1 .hero_heading-top {
        font-size: 8rem; } }
    @media (min-width: 43em) {
      .hero .hero_headline-container h1 .hero_heading-top {
        font-size: 10rem; } }
    @media (min-width: 52em) {
      .hero .hero_headline-container h1 .hero_heading-top {
        font-size: 12rem; } }
    @media (min-width: 60em) {
      .hero .hero_headline-container h1 .hero_heading-top {
        font-size: 14rem; } }
  .hero .hero_headline-container h1 .hero_heading-bottom {
    text-align: right;
    font-size: 1.4rem;
    font-weight: 500; }
    @media (min-width: 21.875em) {
      .hero .hero_headline-container h1 .hero_heading-bottom {
        font-size: 1.6em; } }
    @media (min-width: 31.5em) {
      .hero .hero_headline-container h1 .hero_heading-bottom {
        font-size: 1.8rem; } }
    @media (min-width: 37.5em) {
      .hero .hero_headline-container h1 .hero_heading-bottom {
        font-size: 2rem; } }
    @media (min-width: 43em) {
      .hero .hero_headline-container h1 .hero_heading-bottom {
        font-size: 2.2rem; } }
    @media (min-width: 52em) {
      .hero .hero_headline-container h1 .hero_heading-bottom {
        font-size: 2.4rem; } }

.hero_common.blog_post_hero .hero_headline-container h1 .hero_heading-top {
  text-transform: initial; }

.hero_common .hero_headline-container {
  color: white;
  background-color: rgba(229, 75, 75, 0.8); }
  .hero_common .hero_headline-container h1 .hero_heading-top,
  .hero_common .hero_headline-container h1 .hero_heading-bottom {
    text-align: center; }
  .hero_common .hero_headline-container h1 .hero_heading-top {
    font-size: 2.6rem;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 100%;
    padding-bottom: 1rem;
    letter-spacing: .1rem; }
    @media (min-width: 21.875em) {
      .hero_common .hero_headline-container h1 .hero_heading-top {
        font-size: 3rem; } }
    @media (min-width: 31.5em) {
      .hero_common .hero_headline-container h1 .hero_heading-top {
        font-size: 3.5rem; } }
    @media (min-width: 37.5em) {
      .hero_common .hero_headline-container h1 .hero_heading-top {
        font-size: 4rem; } }
    @media (min-width: 43em) {
      .hero_common .hero_headline-container h1 .hero_heading-top {
        font-size: 4.5rem; } }
    @media (min-width: 52em) {
      .hero_common .hero_headline-container h1 .hero_heading-top {
        font-size: 5rem; } }
    @media (min-width: 60em) {
      .hero_common .hero_headline-container h1 .hero_heading-top {
        font-size: 5.5rem; } }
  .hero_common .hero_headline-container h1 .hero_heading-bottom {
    font-size: 1.4rem;
    font-weight: 400; }
    @media (min-width: 21.875em) {
      .hero_common .hero_headline-container h1 .hero_heading-bottom {
        font-size: 1.6em; } }
    @media (min-width: 31.5em) {
      .hero_common .hero_headline-container h1 .hero_heading-bottom {
        font-size: 1.8rem; } }
    @media (min-width: 37.5em) {
      .hero_common .hero_headline-container h1 .hero_heading-bottom {
        font-size: 2rem; } }
    @media (min-width: 43em) {
      .hero_common .hero_headline-container h1 .hero_heading-bottom {
        font-size: 2.2rem; } }
    @media (min-width: 52em) {
      .hero_common .hero_headline-container h1 .hero_heading-bottom {
        font-size: 2.4rem; } }

.about .about_1,
.about .about_2 {
  color: white;
  font-size: 1.5rem; }

.about .about_heading {
  font-size: 3.6rem;
  text-transform: uppercase; }

.my_services .service_heading {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.my_services .service_text {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.2rem; }

.posts_container .post_box .content_container a {
  color: #4E4E4E; }

.posts_container .post_box .content_container .post_heading {
  font-size: 1.5rem;
  font-weight: 600; }
  @media (min-width: 37.5em) {
    .posts_container .post_box .content_container .post_heading {
      height: 2.6rem; } }
  @media (min-width: 45.5 0.5em) {
    .posts_container .post_box .content_container .post_heading {
      height: initial; } }

.posts_container .post_box .content_container .post_text {
  font-size: 1.5rem;
  line-height: 2.2rem; }

.posts_container .post_box .content_container .box_footer .post_date {
  font-size: 1.5rem; }

.contact .contact_text {
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.2rem; }

.footer {
  font-size: 1.4rem;
  text-align: center; }
  .footer .author {
    color: #E54B4B;
    font-weight: 500; }

.go_back_container .go_back_text {
  font-size: 1.6rem;
  color: #E54B4B;
  letter-spacing: .1rem; }

.blog_post .blog_post_sub_heading {
  font-size: 2.2rem;
  text-align: center; }

.blog_post p {
  font-size: 1.5rem;
  line-height: 2.2rem; }

.comment_section.container_common {
  max-width: 76rem; }

.comment_section .title {
  font-size: 2.1rem; }

.comment_section .comment_box .comment_content .comment_aside .comment_details span {
  font-size: 1.5rem; }

.comment_section .comment_box .comment_content .comment_title {
  font-size: 1.6rem;
  font-weight: 500; }

.comment_section .comment_box .comment_content .comment_text_box .comment_text {
  font-size: 1.5rem;
  line-height: 2.2rem; }

.faded {
  opacity: 0 !important; }

.visible {
  opacity: 1 !important; }

.overflow_hidden {
  overflow: hidden; }

.translate_away {
  transform: translateX(-100%); }

.translate_to_default {
  transform: translateX(0); }

.hamburger_transform_to_cross .bar:nth-child(1) {
  opacity: 0;
  transform: translateY(-2rem); }

.hamburger_transform_to_cross .bar:nth-child(2) {
  transform: rotate(45deg); }

.hamburger_transform_to_cross .bar:nth-child(3) {
  transform: rotate(-45deg) translate(0.6rem, -0.7rem); }

.activeThumbPic {
  border: 0.2rem #E54B4B solid;
  padding: .3rem; }

#scrollUp {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: .5rem;
  background-color: #E54B4B;
  z-index: 99;
  transition: opacity 1s;
  opacity: 0;
  cursor: pointer; }
  #scrollUp img {
    width: 3rem;
    height: 3rem;
    transform: rotate(180deg);
    pointer-events: none; }

.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  background: rgba(229, 75, 75, 0.95);
  padding: 0 1rem;
  z-index: 333; }
  .header .header_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem; }
  .header_hamburger,
  .header .logoContainer {
    display: inline-block; }
  .header_hamburger {
    cursor: pointer; }
    .header_hamburger.active .bar:nth-child(1) {
      opacity: 0;
      transform: translateY(-2rem); }
    .header_hamburger.active .bar:nth-child(2) {
      transform: rotate(45deg); }
    .header_hamburger.active .bar:nth-child(3) {
      transform: rotate(-45deg) translate(0.6rem, -0.7rem); }
    .header_hamburger.inactive:hover .bar {
      pointer-events: none; }
    .header_hamburger .bar {
      width: 3rem;
      height: .23rem;
      background-color: #EEE;
      margin: .7rem 0;
      transition: .5s opacity, 1s transform; }
  .header .logoContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex; }
    .header .logoContainer .logo .logo_image {
      max-height: 4rem; }
  .header .nav {
    display: none; }
  .header .menu {
    width: 100%;
    position: absolute;
    top: 100%;
    transition: transform .5s; }
    .header .menu_overlay {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(229, 75, 75, 0.95);
      transition: opacity .5s; }
    .header .menu .mobile_nav {
      transition: all .7s;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(-5rem);
      z-index: -1; }
      .header .menu .mobile_nav.active {
        z-index: 3;
        transform: translateX(0); }
      .header .menu .mobile_nav .nav_ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        height: calc(100vh - 60px); }
        .header .menu .mobile_nav .nav_ul li {
          margin: 2rem;
          display: block; }

.padding_common {
  padding: 2rem 2rem; }

.padding_common_bottom {
  padding-bottom: 2rem; }

.padding_bigger {
  padding: 3rem 3rem; }

.padding_smaller_top_bottom {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.padding_common_top_bottom {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.padding_medium_top_bottom {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.padding_bigger_top_bottom {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.padding_common_left_right {
  padding-left: 2rem;
  padding-right: 2rem; }

.padding_common_and_bot_slightly_bigger {
  padding: 2rem;
  padding-bottom: 3rem; }

.padding_top_bigger {
  padding-top: 4rem; }

.padding_top_bot_bigger_sides_common {
  padding: 4rem 2rem; }

.margin_top_for_equipment {
  margin-top: 26rem; }
  @media (min-width: 40.375em) {
    .margin_top_for_equipment {
      margin-top: 6.5rem; } }

.margin_common_bottom {
  margin-bottom: .5rem; }

.margin_common_bottom {
  margin-bottom: 1rem; }

.margin_common_bottom {
  margin-bottom: 2rem; }

.margin_common_bottom {
  margin-bottom: 3rem; }

.margin_top_small {
  margin-top: 1rem; }

.margin_top_medium {
  margin-top: 2rem; }

.margin_top_bigger {
  margin-top: 5rem; }

.margin_top_big {
  margin-top: 6rem; }

.margin_top_bottom_small {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.margin_top_bottom_medium {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.margin_top_bottom_bigger {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.margin_top_bottom_big {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.container_common {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto; }

.container_max_small {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 37.5em) {
  .about,
  .my_services,
  .work,
  .studio,
  .my_equipment,
  .latest_blogs,
  .contact {
    padding-top: 8rem; } }

@media (min-width: 37.5em) {
  .section_heading {
    padding-bottom: 5rem; } }

.footer {
  position: relative; }
  .footer::before {
    content: "";
    position: absolute;
    height: .5rem;
    border-top: 0.24rem solid #E54B4B;
    top: 10%;
    width: 25rem;
    left: 50%;
    transform: translateX(-50%); }
  @media (min-width: 37.5em) {
    .footer {
      margin-top: 5rem;
      padding-bottom: 5rem; } }
  .footer .social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    margin: 0 auto; }
    .footer .social_icons span {
      display: inline-block; }
      .footer .social_icons span a img {
        height: 3rem;
        width: 3rem; }

.hero_common {
  background-image: url("../images/compressed/resized/rsz_blogs_hero (1).jpg");
  background-size: cover;
  min-height: 50vh;
  background-position: left center;
  position: relative;
  background-repeat: no-repeat; }
  @media (min-width: 37.5em) {
    .hero_common {
      background-image: url("../images/compressed/resized/rsz_1blogs_hero.jpg");
      background-position: center left; } }
  @media (min-width: 60em) {
    .hero_common {
      background-image: url("../images/compressed/resized/rsz_2blogs_hero.jpg");
      background-position: center; } }
  .hero_common .hero_headline-container {
    position: absolute;
    top: 38%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center; }
    .hero_common .hero_headline-container h1 {
      transition: opacity 1s;
      margin: auto; }

.slideshow,
.slideshow_full_screen {
  position: relative; }

.slideshow {
  margin: 0 auto; }

.slideshow_full_screen {
  width: 100%; }

.img_container {
  height: 30rem;
  display: flex;
  margin: auto; }
  @media (min-width: 37.5em) {
    .img_container {
      height: 35rem; } }

.img_container_smaller {
  height: 25rem;
  display: flex;
  margin: auto; }

.img_container_bigger {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  margin: auto; }
  .img_container_bigger img {
    object-position: bottom center; }

.slideshow_photo {
  object-fit: cover;
  width: 100%;
  object-position: center center;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.slideshow_full_screen .slideshow_photo {
  border-radius: 0; }

.arrow {
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  object-position: center center;
  margin: auto;
  opacity: .8; }

.arrow_left,
.arrow_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.arrow_left {
  left: -2rem; }
  @media (min-width: 60em) {
    .arrow_left {
      left: -5rem; } }

.arrow_right {
  right: -2rem; }
  @media (min-width: 60em) {
    .arrow_right {
      right: -5rem; } }

.slideshow_caption {
  box-shadow: 0 3px 5px lightgray;
  border: black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 2rem 3rem;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E54B4B;
  color: white;
  text-transform: uppercase; }
  .slideshow_caption_text {
    display: block;
    text-align: center;
    font-size: 1.9rem;
    letter-spacing: .3rem;
    font-weight: 300;
    letter-spacing: .1rem; }

.slideshow_thumb_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 100%;
  margin-top: 2rem;
  position: relative; }
  .slideshow_thumb_container .slideshow_photo {
    width: 50%;
    margin: .5rem;
    height: 10rem;
    border-radius: 4px; }

.button-like_container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .button-like_container a {
    transition: transform .2s; }
  .button-like_container a:hover {
    transform: translateY(-4px); }
  .button-like_container a:focus,
  .button-like_container a:active {
    transform: translateY(2px); }
  .button-like_container .button {
    border: black;
    border-radius: 4px;
    padding: 2rem 3rem;
    display: inline-flex;
    flex-direction: column;
    font-weight: 500; }
  .button-like_container .primary_button {
    background-color: #E54B4B;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    box-shadow: 0 2px 5px lightgray; }
  .button-like_container .secondary_button {
    background-color: transparent;
    color: #4E4E4E;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 1px solid #4E4E4E; }
  .button-like_container .tertiary_button {
    background-color: #4E4E4E;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 1px solid #4E4E4E; }

.btn_button {
  box-shadow: 0 2px 5px lightgray;
  border-radius: 4px;
  align-self: baseline;
  margin-left: auto;
  margin-right: auto;
  border: black;
  padding: 2rem 8rem;
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #E54B4B;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: transform .2s; }
  .btn_button:hover {
    transform: translateY(-4px); }
  .btn_button:focus, .btn_button:active {
    transform: translateY(2px); }
  .btn_button:focus {
    outline: none; }

@media (min-width: 37.5em) {
  .posts_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; } }

@media (min-width: 37.5em) {
  .posts_container .post_box {
    width: 48%; } }

.posts_container .post_box:not(:last-child) {
  margin-bottom: 2.5rem; }

.posts_container .post_box .post_img_container {
  height: 20rem; }
  .posts_container .post_box .post_img_container img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%; }

.posts_container .post_box .content_container {
  box-shadow: 0 3px 5px lightgray; }
  .posts_container .post_box .content_container .box_footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.form {
  display: flex;
  flex-direction: column; }
  .form .input,
  .form .textarea {
    outline: none;
    border: 1px solid #aaaaaa;
    border-radius: 4px; }
    .form .input::-webkit-input-placeholder,
    .form .textarea::-webkit-input-placeholder {
      font-size: 1.5rem; }
    .form .input:-moz-placeholder,
    .form .textarea:-moz-placeholder {
      font-size: 1.5rem; }
    .form .input::-moz-placeholder,
    .form .textarea::-moz-placeholder {
      font-size: 1.5rem; }
    .form .input:-ms-input-placeholder,
    .form .textarea:-ms-input-placeholder {
      font-size: 1.5rem; }
  .form .form_title {
    font-size: 2.1rem; }
  .form .input {
    margin-bottom: 2rem; }

@keyframes nudge_up_down_slightly {
  0% {
    transform: translateY(0.5rem); }
  50% {
    transform: translateY(-0.5rem); }
  100% {
    transform: translateY(0); } }

@keyframes nudge_up_down_hero_arrow {
  0%, 100% {
    transform: translateY(0) translateX(-50%); }
  50% {
    transform: translateY(1rem) translateX(-50%); } }

@keyframes rotateSlightly {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(20deg); }
  80% {
    transform: rotate(-10deg); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.sidebar_arrow {
  display: flex;
  flex-direction: column;
  opacity: .8; }
  .sidebar_arrow img {
    max-width: 2rem; }

.sidebar .sidebar_container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .sidebar .sidebar_container .sidebar_text {
    align-self: center;
    margin-left: .5rem; }
  .sidebar .sidebar_container .sidebar_left a, .sidebar .sidebar_container .sidebar_right a {
    font-size: 1.6rem;
    color: #E54B4B;
    display: flex;
    justify-content: center; }
    .sidebar .sidebar_container .sidebar_left a span, .sidebar .sidebar_container .sidebar_left a img, .sidebar .sidebar_container .sidebar_right a span, .sidebar .sidebar_container .sidebar_right a img {
      pointer-events: none; }

.overlay_fs {
  width: 100%;
  position: absolute;
  top: 100%;
  transition: all .5s;
  transform: translateX(-100%);
  opacity: 0;
  background-color: rgba(229, 75, 75, 0.95); }
  .overlay_fs.active {
    transform: translateX(0);
    opacity: 1; }
  .overlay_fs_overlay {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity .5s; }
  .overlay_fs .item_container {
    transition: all .7s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; }
    .overlay_fs .item_container .heading {
      color: #EEE;
      margin: 1rem;
      display: block;
      text-transform: uppercase;
      font-size: 1.6rem;
      letter-spacing: .3rem;
      text-align: left;
      padding-left: 2rem; }
      @media (min-width: 37.5em) {
        .overlay_fs .item_container .heading {
          font-size: 2rem; } }
      @media (min-width: 45em) {
        .overlay_fs .item_container .heading {
          font-size: 2.6rem; } }
    .overlay_fs .item_container .item_ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      height: 100vh; }
      .overlay_fs .item_container .item_ul li {
        color: #EEE;
        margin: 1rem;
        display: block;
        text-transform: capitalize;
        font-size: 1.5rem;
        letter-spacing: .2rem;
        text-align: left; }
        @media (min-width: 37.5em) {
          .overlay_fs .item_container .item_ul li {
            font-size: 1.8rem; } }
        @media (min-width: 45em) {
          .overlay_fs .item_container .item_ul li {
            font-size: 2.3rem; } }

.hero {
  background: linear-gradient(154deg, rgba(229, 75, 75, 0.1) 40%, rgba(229, 75, 75, 0.4) 81%), url("../images/compressed//resized/home_hero1.jpg");
  background-size: cover;
  min-height: 100vh;
  background-position: left center;
  position: relative; }
  .hero .arrow-down {
    position: absolute;
    display: inline-block;
    bottom: 2rem;
    left: 50%;
    width: 4rem;
    transform: translateX(-50%);
    animation: nudge_up_down_hero_arrow 2s infinite;
    cursor: pointer; }
  .hero .hero_headline-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem; }
    @media (min-width: 52em) {
      .hero .hero_headline-container {
        top: 40%; } }
    .hero .hero_headline-container h1 {
      transition: opacity 1s;
      padding: 3rem 2rem;
      margin: auto; }

.about {
  background-color: #D4D4D4;
  padding-bottom: 1rem; }
  @media (min-width: 37.5em) {
    .about {
      padding-bottom: 3rem; } }
  @media (min-width: 37.5em) {
    .about .cont_about_1,
    .about .cont_about_2 {
      max-width: 90%; } }
  @media (min-width: 37.5em) {
    .about .cont_about_1 {
      display: flex;
      position: relative; }
      .about .cont_about_1 .about_1 {
        transform: translateY(10%);
        position: absolute;
        left: 46%;
        width: 55%;
        padding-left: 5rem; }
      .about .cont_about_1 .about_img_1 {
        max-height: 35rem;
        width: 58%; } }
  @media (min-width: 37.5em) {
    .about .cont_about_2 {
      display: flex;
      position: relative;
      flex-direction: row-reverse; }
      .about .cont_about_2 .about_img_2 {
        max-height: 35rem;
        width: 51%;
        transform: translate(22%, -9%);
        margin-left: 0; }
      .about .cont_about_2 .about_2 {
        transform: translate(28%, 13%);
        position: absolute;
        right: 46%;
        width: 62%;
        padding-right: 5rem;
        padding-bottom: 3rem; } }
    @media (min-width: 37.5em) and (min-width: 49.6875em) {
      .about .cont_about_2 .about_2 {
        transform: translate(28%, 37%); } }
  .about_img_1, .about_img_2 {
    object-fit: cover;
    width: 24rem; }
  .about_img_2 {
    margin-left: auto;
    display: block; }
  .about .about_1,
  .about .about_2 {
    background-color: rgba(229, 75, 75, 0.9); }
  .about .about_1 {
    transform: translateY(-10%); }
  .about .about_2 {
    transform: translateY(-10%); }

@media (min-width: 47.5em) {
  .my_services .services_container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row; } }

.my_services .services_container .service_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 30rem; }
  @media (min-width: 47.5em) {
    .my_services .services_container .service_container {
      justify-content: flex-start;
      width: 30%; } }
  .my_services .services_container .service_container:not(:last-child) {
    margin-bottom: 4rem; }
  @media (min-width: 47.5em) {
    .my_services .services_container .service_container:last-child {
      margin-bottom: 4rem;
      margin-top: 0; } }
  .my_services .services_container .service_container .service_heading {
    margin-bottom: 1rem; }
  .my_services .services_container .service_container .icon_container {
    margin: auto;
    margin-bottom: 1rem;
    background-color: #E54B4B;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    margin-top: 0; }
    .my_services .services_container .service_container .icon_container img {
      margin: auto;
      color: white;
      width: 5rem; }

.work.container_common {
  max-width: 120rem; }

.work .slideshow .img_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .work .slideshow .img_container img {
    opacity: 0;
    transition: opacity 1s ease-in;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    height: 100%; }
    .work .slideshow .img_container img:first-child {
      opacity: 1; }
  @media (min-width: 37.5em) {
    .work .slideshow .img_container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 15rem);
      grid-gap: 1rem;
      height: initial;
      grid-template-areas: "I-one I-one I-two I-two I-three I-three" "I-four I-four I-two I-two I-five I-five" "I-four I-four I-six I-six I-six I-six"; }
      .work .slideshow .img_container img {
        opacity: 1 !important;
        border-radius: 0; }
      .work .slideshow .img_container img:nth-child(1) {
        grid-area: I-one; }
      .work .slideshow .img_container img:nth-child(2) {
        grid-area: I-two; }
      .work .slideshow .img_container img:nth-child(3) {
        grid-area: I-three; }
      .work .slideshow .img_container img:nth-child(4) {
        grid-area: I-four; }
      .work .slideshow .img_container img:nth-child(5) {
        grid-area: I-five; }
      .work .slideshow .img_container img:nth-child(6) {
        grid-area: I-six; } }
  @media (min-width: 60em) {
    .work .slideshow .img_container {
      grid-template-rows: repeat(3, 20rem); } }

.work .slideshow .arrows {
  cursor: pointer; }
  @media (min-width: 37.5em) {
    .work .slideshow .arrows {
      display: none; } }

#myEquipment.container_common {
  max-width: 120rem; }

#myEquipment .slideshow .arrows {
  cursor: pointer; }
  @media (min-width: 37.5em) {
    #myEquipment .slideshow .arrows {
      display: none; } }

#myEquipment .slideshow .img_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #myEquipment .slideshow .img_container img {
    opacity: 0;
    transition: opacity 1s ease-in;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    width: 100%;
    height: 100%; }
    #myEquipment .slideshow .img_container img:first-child {
      opacity: 1;
      object-position: bottom center; }
  @media (min-width: 37.5em) {
    #myEquipment .slideshow .img_container img {
      opacity: 1 !important;
      border-radius: 0; } }
  @media (min-width: 37.5em) {
    #myEquipment .slideshow .img_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 15rem);
      grid-gap: 1rem;
      height: initial;
      grid-template-areas: "one four four" "one four four" "two three five" "two three five"; }
      #myEquipment .slideshow .img_container img:nth-child(1) {
        grid-area: one;
        object-position: center bottom; }
      #myEquipment .slideshow .img_container img:nth-child(2) {
        grid-area: two; }
      #myEquipment .slideshow .img_container img:nth-child(3) {
        grid-area: three; }
      #myEquipment .slideshow .img_container img:nth-child(4) {
        grid-area: four; }
      #myEquipment .slideshow .img_container img:nth-child(5) {
        grid-area: five; } }
  @media (min-width: 60em) {
    #myEquipment .slideshow .img_container {
      grid-template-rows: repeat(3, 20rem); } }

#myEquipment .slideshow .slideshow_caption {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem; }
  #myEquipment .slideshow .slideshow_caption_text {
    opacity: 0;
    transition: opacity .5s ease-in;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 5rem; }
    #myEquipment .slideshow .slideshow_caption_text:first-child {
      opacity: 1; }
  @media (min-width: 37.5em) {
    #myEquipment .slideshow .slideshow_caption {
      display: none; } }

.studio .studio_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .studio .studio_wrapper img {
    opacity: 0;
    transition: opacity 4s ease-in;
    position: absolute;
    width: 100%;
    height: 100%; }
    .studio .studio_wrapper img:first-child {
      opacity: 1; }

.studio .studio_boxes {
  top: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 40rem; }
  @media (min-width: 40.375em) {
    .studio .studio_boxes {
      top: 91%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      height: initial;
      max-width: 54rem; } }
  @media (min-width: 40.375em) {
    .studio .studio_boxes {
      max-width: 80rem; } }
  .studio .studio_boxes .studio_box {
    width: 80%;
    border: black;
    border-radius: 4px;
    padding: 2rem 2rem;
    display: inline-block;
    flex-direction: column;
    background-color: #E54B4B;
    color: white;
    font-size: 1.4rem;
    text-align: center; }
    @media (min-width: 40.375em) {
      .studio .studio_boxes .studio_box {
        width: 33%;
        margin: 1rem;
        padding: 2rem 3rem; } }
    .studio .studio_boxes .studio_box:not(:last-child) {
      margin-bottom: 1rem; }
    .studio .studio_boxes .studio_box .top {
      font-size: 1.6rem;
      letter-spacing: .3rem;
      display: block;
      margin-bottom: 1rem; }
    .studio .studio_boxes .studio_box .bottom {
      display: block;
      font-weight: 300;
      letter-spacing: .1rem; }

.latest_blogs.container_common {
  max-width: 86rem; }

.blog_blogs.container_common {
  max-width: 120rem; }

@media (min-width: 37.5em) {
  .blog_blogs .posts_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; } }

@media (min-width: 37.5em) {
  .blog_blogs .posts_container .post_box {
    width: 48%; } }

@media (min-width: 60em) {
  .blog_blogs .posts_container .post_box {
    width: 32%; } }

.blog_blogs .arrows {
  position: relative;
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto; }

.blogs_hero {
  background-image: url("../images/compressed/resized/daylight-environment-forest-459225.jpg"); }

.cat_menu,
.arch_menu {
  width: 100%;
  position: absolute;
  top: 100%;
  transition: transform .5s; }
  .cat_menu_overlay,
  .arch_menu_overlay {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(229, 75, 75, 0.95);
    transition: opacity .5s; }
  .cat_menu .mobile_nav,
  .arch_menu .mobile_nav {
    transition: all .7s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-5rem);
    z-index: -1; }
    .cat_menu .mobile_nav.active,
    .arch_menu .mobile_nav.active {
      z-index: 3;
      transform: translateX(0); }
    .cat_menu .mobile_nav .nav_ul,
    .arch_menu .mobile_nav .nav_ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      height: calc(100vh - 6rem); }
      .cat_menu .mobile_nav .nav_ul li,
      .arch_menu .mobile_nav .nav_ul li {
        margin: 2rem;
        display: block; }

.projects_main .container_common {
  max-width: 150rem; }

.projects_main .project_box {
  padding-bottom: 2rem;
  padding-top: 2rem; }
  .projects_main .project_box .project_text {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .projects_main .project_box .project_text span {
      margin: .1rem; }
  @media (min-width: 60em) {
    .projects_main .project_box:not(:last-child) {
      padding-bottom: 4rem; } }
  .projects_main .project_box .img_container_smaller .slideshow_photo {
    transition: opacity .5s; }
  .projects_main .project_box .slideshow_thumb_container .arrows {
    cursor: pointer; }
  .projects_main .project_box .slideshow_thumb_container .slideshow_photo {
    cursor: pointer;
    position: relative;
    transition: opacity 1s, padding .2s; }
    .projects_main .project_box .slideshow_thumb_container .slideshow_photo.faded {
      pointer-events: none; }
    .projects_main .project_box .slideshow_thumb_container .slideshow_photo:hover {
      padding: .3rem; }
  @media (max-width: 60em) {
    .projects_main .project_box .slideshow_thumb_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 11rem);
      grid-template-areas: "one two three"; }
      .projects_main .project_box .slideshow_thumb_container .slideshow_photo {
        opacity: 0;
        width: 100%;
        padding: .5rem;
        margin: 0; }
        .projects_main .project_box .slideshow_thumb_container .slideshow_photo:nth-child(odd) {
          grid-area: one; }
        .projects_main .project_box .slideshow_thumb_container .slideshow_photo:nth-child(even) {
          grid-area: two; }
        .projects_main .project_box .slideshow_thumb_container .slideshow_photo:nth-child(3n) {
          grid-area: three; }
        .projects_main .project_box .slideshow_thumb_container .slideshow_photo:nth-child(-n + 3) {
          opacity: 1; } }
  @media (max-width: 37.5em) {
    .projects_main .project_box .slideshow_thumb_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 11rem);
      grid-template-areas: "one two"; }
      .projects_main .project_box .slideshow_thumb_container .slideshow_photo {
        width: 100%;
        opacity: 0; }
        .projects_main .project_box .slideshow_thumb_container .slideshow_photo:nth-child(odd), .projects_main .project_box .slideshow_thumb_container .slideshow_photo:nth-child(even) {
          opacity: 0; }
        .projects_main .project_box .slideshow_thumb_container .slideshow_photo:nth-child(odd) {
          grid-area: one; }
        .projects_main .project_box .slideshow_thumb_container .slideshow_photo:nth-child(even) {
          grid-area: two; }
        .projects_main .project_box .slideshow_thumb_container .slideshow_photo:nth-child(-n + 2) {
          opacity: 1; } }
  @media (min-width: 60em) {
    .projects_main .project_box {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(7, 9rem);
      grid-template-areas: "mp mp mp mp ph ph ph" "mp mp mp mp st st st" "mp mp mp mp st st st" "mp mp mp mp st st st" "mp mp mp mp st st st" "mp mp mp mp st st st" "mp mp mp mp pt pt pt"; }
      .projects_main .project_box .slideshow_thumb_container {
        display: flex; }
      .projects_main .project_box .arrows {
        display: none; }
      .projects_main .project_box .img_container_smaller {
        grid-area: mp; }
        .projects_main .project_box .img_container_smaller .slideshow_photo {
          border-radius: 4px; }
      .projects_main .project_box .project_heading {
        grid-area: ph; }
      .projects_main .project_box .slideshow_thumb_container {
        grid-area: st;
        padding-left: 5rem;
        padding-right: 5rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column; }
        .projects_main .project_box .slideshow_thumb_container img {
          display: block;
          border-radius: 0;
          opacity: 1; }
        .projects_main .project_box .slideshow_thumb_container .slideshow_photo {
          width: 50%; }
      .projects_main .project_box .project_text {
        grid-area: pt;
        padding-left: 5rem;
        justify-content: flex-end; }
      .projects_main .project_box .project_heading {
        padding-top: 0; }
      .projects_main .project_box .img_container_smaller {
        height: 100%; } }
  .projects_main .project_box:last-child {
    padding-bottom: 3rem; }

.blog_post_hero {
  background-image: url("../images/compressed/resized/rsz_big_35mm-analog-analogue-1002634.jpg"); }
  @media (min-width: 37.5em) {
    .blog_post_hero {
      background-image: url("../images/compressed/resized/rsz_1big_35mm-analog-analogue-1002634.jpg"); } }
  @media (min-width: 60em) {
    .blog_post_hero {
      background-image: url("../images/compressed/resized/rsz_2big_35mm-analog-analogue-1002634.jpg"); } }

.blog_post_main .container_common {
  max-width: 86rem; }

.blog_post_main .go_back_container {
  display: flex;
  align-items: center; }
  .blog_post_main .go_back_container .go_back_img_cont {
    display: flex;
    flex-direction: column;
    opacity: .8; }
    .blog_post_main .go_back_container .go_back_img_cont img {
      max-width: 2rem; }
  .blog_post_main .go_back_container .go_back_text {
    margin-left: .5rem; }

@media (min-width: 53.75em) {
  .blog_post_main .blog_post_img_cont {
    width: 86rem;
    margin: 0 auto;
    padding: 0 2rem; } }

.blog_post_main .blog_post_img_cont img {
  width: 100%;
  object-fit: cover;
  height: 20rem; }

.blog_post_main .blog_post p {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem; }

.comment_section {
  padding-bottom: 3rem; }
  @media (min-width: 47.5em) {
    .comment_section .comment_box .comment_content {
      display: flex; } }
  .comment_section .comment_box .comment_content .comment_aside {
    display: flex;
    justify-content: space-between;
    align-content: flex-start; }
    @media (min-width: 47.5em) {
      .comment_section .comment_box .comment_content .comment_aside {
        flex-direction: column; } }
    .comment_section .comment_box .comment_content .comment_aside .author_img_cont img {
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      box-shadow: 0 2px 5px lightgray;
      border-radius: 4px; }
    .comment_section .comment_box .comment_content .comment_aside .comment_details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      .comment_section .comment_box .comment_content .comment_aside .comment_details span {
        padding-top: .15rem;
        padding-bottom: .15rem; }
  @media (min-width: 47.5em) {
    .comment_section .comment_box .comment_content .comment_text_container {
      padding-left: 2rem; } }
  .comment_section .comment_box .comment_content .comment_text_container .comment_title {
    padding-top: .5rem;
    padding-bottom: .5rem; }
    @media (min-width: 47.5em) {
      .comment_section .comment_box .comment_content .comment_text_container .comment_title {
        padding-top: 0; } }
  .comment_section .comment_box .comment_content .comment_text_container .comment_text_box .comment_text {
    padding-top: .5rem;
    padding-bottom: .5rem; }
  .comment_section .comment_box .comment_content .comment_text_container .comment_text_box .button-like_container {
    justify-content: flex-start; }
