*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-size: inherit; }

ul {
  list-style: none; }

li {
  display: inline-block; }

a,
a:focus,
a:hover {
  text-decoration: none;
  color: black; }

body {
  font-family: 'Quicksand', sans-serif;
  color: #4E4E4E; }

input, textarea {
  font-family: 'Quicksand', sans-serif; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: 'Quicksand', sans-serif; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    font-family: 'Quicksand', sans-serif; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    font-family: 'Quicksand', sans-serif; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-family: 'Quicksand', sans-serif; }

button {
  font-family: 'Quicksand', sans-serif; }

a {
  cursor: pointer; }

.section_heading {
  position: relative;
  font-size: 2.7rem;
  text-align: center;
  text-transform: uppercase; }
  .section_heading::before {
    content: "";
    position: absolute;
    height: .5rem;
    border-top: 0.5rem solid #E54B4B;
    top: 10%;
    width: 10rem;
    left: 50%;
    transform: translateX(-50%); }

.header {
  color: #EEE; }
  .header .logoContainer {
    font-size: 1.9rem; }
  .header .nav li {
    font-size: 2rem; }
  .header .mobile_nav li {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: left; }

.hero .hero_headline-container {
  color: white; }
  .hero .hero_headline-container h1 .hero_heading-top {
    font-size: 4.6rem;
    font-weight: 400;
    text-transform: uppercase; }
  .hero .hero_headline-container h1 .hero_heading-bottom {
    text-align: right;
    font-size: 1.4rem;
    font-weight: 500; }

.about .about_1,
.about .about_2 {
  color: white;
  font-size: 1.5rem; }

.about .about_heading {
  font-size: 3.6rem;
  text-transform: uppercase; }

.my_services .service_heading {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase; }

.my_services .service_text {
  font-size: 1.5rem;
  text-align: center; }

.post_box .content_container .post_heading {
  font-size: 1.5rem;
  font-weight: 600; }

.post_box .content_container .post_text {
  font-size: 1.5rem; }

.post_box .content_container .box_footer .post_date {
  font-size: 1.5rem; }

.contact .contact_text {
  font-size: 1.6rem;
  text-align: center; }

.footer {
  font-size: 1.4rem;
  text-align: center; }
  .footer .author {
    color: #E54B4B;
    font-weight: 500; }
  .footer .footer_text {
    display: block; }

.faded {
  opacity: 0; }

.visible {
  opacity: 1; }

.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  background: rgba(229, 75, 75, 0.9);
  padding: 0 1rem;
  z-index: 33; }
  .header .header_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem; }
  .header_hamburger,
  .header .logoContainer {
    display: inline-block; }
  .header_hamburger {
    cursor: pointer; }
    .header_hamburger.active .bar:nth-child(1) {
      opacity: 0;
      transform: translateY(-2rem); }
    .header_hamburger.active .bar:nth-child(2) {
      transform: rotate(45deg); }
    .header_hamburger.active .bar:nth-child(3) {
      transform: rotate(-45deg) translate(0.6rem, -0.7rem); }
    .header_hamburger.inactive:hover .bar {
      pointer-events: none; }
    .header_hamburger .bar {
      width: 3rem;
      height: .23rem;
      background-color: #EEE;
      margin: .7rem 0;
      transition: .5s opacity, 1s transform; }
  .header .logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header .logoContainer .logo .logo_image {
      max-height: 4rem; }
  .header .nav {
    display: none; }
  .header .menu {
    width: 100%;
    position: absolute;
    top: 100%; }
    .header .menu_overlay {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(229, 75, 75, 0.8);
      transition: opacity .5s; }
    .header .menu .mobile_nav {
      transition: all .7s;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(-5rem); }
      .header .menu .mobile_nav.active {
        transform: translateX(0); }
      .header .menu .mobile_nav .nav_ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        height: calc(100vh - 6rem); }
        .header .menu .mobile_nav .nav_ul li {
          margin: 2rem;
          display: block; }

.padding_common {
  padding: 2rem 2rem; }

.padding_bigger {
  padding: 3rem 3rem; }

.padding_common_top_bottom {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.padding_medium_top_bottom {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.padding_bigger_top_bottom {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.padding_common_left_right {
  padding-left: 2rem;
  padding-right: 2rem; }

.padding_top_bigger {
  padding-top: 4rem; }

.margin_top_for_equipment {
  margin-top: 40rem; }

.margin_common_bottom {
  margin-bottom: .5rem; }

.margin_common_bottom {
  margin-bottom: 1rem; }

.margin_common_bottom {
  margin-bottom: 2rem; }

.margin_common_bottom {
  margin-bottom: 3rem; }

.margin_top_small {
  margin-top: 1rem; }

.margin_top_medium {
  margin-top: 2rem; }

.margin_top_bigger {
  margin-top: 5rem; }

.margin_top_big {
  margin-top: 6rem; }

.margin_top_bottom_small {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.margin_top_bottom_medium {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.margin_top_bottom_bigger {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.margin_top_bottom_big {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.container_common {
  max-width: 86rem;
  margin: 0 auto; }

.footer {
  position: relative; }
  .footer::before {
    content: "";
    position: absolute;
    height: .5rem;
    border-top: 0.24rem solid #E54B4B;
    top: 10%;
    width: 30rem;
    left: 50%;
    transform: translateX(-50%); }
  .footer .social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    margin: 0 auto; }
    .footer .social_icons span {
      display: inline-block; }
      .footer .social_icons span a img {
        height: 3rem;
        width: 3rem; }

.hero {
  background: linear-gradient(154deg, rgba(229, 75, 75, 0.1) 40%, rgba(229, 75, 75, 0.4) 81%), url("../images/home_hero1.jpg");
  background-size: cover;
  min-height: 100vh;
  background-position: left center;
  position: relative; }
  .hero .arrow-down {
    position: absolute;
    display: inline-block;
    bottom: 2rem;
    left: 50%;
    width: 4rem;
    transform: translateX(-50%);
    animation: nudge_up_down_hero_arrow  2s infinite; }
  .hero .hero_headline-container {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem; }
    .hero .hero_headline-container h1 {
      transition: opacity 1s;
      padding: 3rem 2rem;
      margin: auto; }

.about {
  background-color: #D4D4D4;
  padding-bottom: 1rem; }
  .about_img_1, .about_img_2 {
    object-fit: cover;
    width: 24rem; }
  .about_img_2 {
    margin-left: auto;
    display: block; }
  .about .about_1,
  .about .about_2 {
    background-color: rgba(229, 75, 75, 0.9); }
  .about .about_1 {
    transform: translateY(-10%); }
  .about .about_2 {
    transform: translateY(-10%); }

.my_services .services_container .service_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .my_services .services_container .service_container:not(:last-child) {
    margin-bottom: 4rem; }
  .my_services .services_container .service_container .service_heading {
    margin-bottom: 1rem; }
  .my_services .services_container .service_container .icon_container {
    margin: auto;
    margin-bottom: 1rem;
    background-color: #E54B4B;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column; }
    .my_services .services_container .service_container .icon_container img {
      margin: auto;
      color: white;
      width: 5rem; }

.work .work_project_photo {
  border-radius: 4px; }

.studio .studio_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.studio .studio_boxes {
  top: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 40rem; }
  .studio .studio_boxes .studio_box {
    width: 80%;
    box-shadow: 0 2px 5px lightgray;
    border: black;
    border-radius: 4px;
    padding: 3rem 3rem;
    display: inline-block;
    flex-direction: column;
    background-color: #E54B4B;
    color: white;
    font-size: 1.9rem;
    text-align: center; }
    .studio .studio_boxes .studio_box:not(:last-child) {
      margin-bottom: 2rem; }
    .studio .studio_boxes .studio_box .top {
      font-size: 1.9rem;
      letter-spacing: .6rem;
      display: block;
      margin-bottom: 1rem; }
    .studio .studio_boxes .studio_box .bottom {
      display: block;
      font-weight: 300;
      letter-spacing: .1rem; }

.slideshow,
.slideshow_full_screen {
  position: relative; }

.slideshow {
  max-width: 60rem;
  margin: 0 auto; }

.slideshow_full_screen {
  width: 100%; }

.img_container {
  height: 30rem;
  display: flex;
  margin: auto; }

.img_container_bigger {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  margin: auto; }
  .img_container_bigger img {
    object-position: bottom center; }

.slideshow_photo {
  object-fit: cover;
  width: 100%;
  object-position: center center;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.arrow {
  object-fit: cover;
  height: 5rem;
  width: 5rem;
  object-position: center center;
  margin: auto;
  opacity: .8; }

.arrow_left,
.arrow_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.arrow_left {
  left: -2rem; }

.arrow_right {
  right: -2rem; }

.slideshow_caption {
  box-shadow: 0 3px 5px lightgray;
  border: black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 2rem 3rem;
  display: block;
  flex-direction: column;
  background-color: #E54B4B;
  color: white;
  text-transform: uppercase; }
  .slideshow_caption .top, .slideshow_caption .bottom {
    display: block;
    text-align: center; }
  .slideshow_caption .top {
    font-size: 1.9rem;
    letter-spacing: .4rem;
    margin-bottom: 2rem; }
  .slideshow_caption .bottom {
    font-size: 1.9rem;
    font-weight: 300;
    letter-spacing: .1rem; }

.button-like_container {
  display: flex;
  justify-content: center; }
  .button-like_container .button {
    border: black;
    border-radius: 4px;
    padding: 2rem 3rem;
    display: inline-flex;
    flex-direction: column; }
  .button-like_container .primary_button {
    background-color: #E54B4B;
    color: white;
    font-size: 1.9rem;
    text-transform: uppercase;
    box-shadow: 0 2px 5px lightgray; }
  .button-like_container .secondary_button {
    background-color: transparent;
    color: #4E4E4E;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 1px solid #4E4E4E; }

.btn_button {
  box-shadow: 0 2px 5px lightgray;
  border-radius: 4px;
  align-self: baseline;
  margin-left: auto;
  margin-right: auto;
  border: black;
  padding: 2rem 8rem;
  display: inline-block;
  align-items: center;
  flex-direction: column;
  background-color: #E54B4B;
  color: white;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 400; }
  .btn_button:focus {
    color: #4E4E4E;
    outline: none;
    border: none; }

.post_box:not(:last-child) {
  margin-bottom: 2rem; }

.post_box .post_img_container {
  height: 20rem; }
  .post_box .post_img_container img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%; }

.post_box .content_container {
  box-shadow: 0 3px 5px lightgray; }
  .post_box .content_container .box_footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.form {
  display: flex;
  flex-direction: column; }
  .form .input,
  .form .textarea {
    outline: none;
    border: 1px solid #aaaaaa;
    border-radius: 4px; }
    .form .input::-webkit-input-placeholder,
    .form .textarea::-webkit-input-placeholder {
      font-size: 1.5rem; }
    .form .input:-moz-placeholder,
    .form .textarea:-moz-placeholder {
      font-size: 1.5rem; }
    .form .input::-moz-placeholder,
    .form .textarea::-moz-placeholder {
      font-size: 1.5rem; }
    .form .input:-ms-input-placeholder,
    .form .textarea:-ms-input-placeholder {
      font-size: 1.5rem; }
  .form .input {
    margin-bottom: 2rem; }

@keyframes nudge_up_down_slightly {
  0% {
    transform: translateY(0.5rem); }
  50% {
    transform: translateY(-0.5rem); }
  100% {
    transform: translateY(0); } }

@keyframes nudge_up_down_hero_arrow {
  0%, 100% {
    transform: translateY(0) translateX(-50%); }
  50% {
    transform: translateY(1rem) translateX(-50%); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
