@keyframes nudge_up_down_slightly {
    0% {
        transform: translateY(.5rem);
    }
    50% {
        transform: translateY(-.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes nudge_up_down_hero_arrow {
    0%, 100% {
        transform: translateY(0) translateX(-50%);
    }
    
    50% {
        transform: translateY(1rem) translateX(-50%);
    }
}

// On hover, for example, for those arrows to implicate that they're interactive.
@keyframes rotateSlightly {
    0%, 100% {
        transform: rotate(0);
    }
    
    50% {
        transform: rotate(20deg);
    }

    80% {
        transform: rotate(-10deg);
    }
}

// From Jonas

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

// /from Jonas