// Styles for a tags to look like buttons
.button-like_container {
    display: flex;
    justify-content: center;

    .button {
        border: black;
        @include small_border_radius();
        padding: 2rem 3rem;
        display: inline-flex;
        flex-direction: column;
    }

    // See all projects
    .primary_button {
        background-color: $main_color;
        color: $color_lightest;
        font-size: $font_bigger;
        text-transform: uppercase;
        @include tiny_shadow();

    }

    // Blog button
    .secondary_button {
        background-color: transparent;
        color: $color_text_default;
        font-size: $font_slightly_smaller;
        text-transform: uppercase;
        padding: 1rem 2rem;
        border: 1px solid $color_text_default;
    }

    // Load more comments
    .tertiary_button {}

    // Show more for a comment
    .quaternary_button {}
}

// Styles for real buttons
.btn_button {
    @include tiny_shadow();
    @include small_border_radius();
    align-self: baseline;
    margin-left: auto;
    margin-right: auto;
    border: black;
    padding: 2rem 8rem;
    display: inline-block;
    align-items: center;
    flex-direction: column;
    background-color: $main_color;
    color: $color_lightest;
    font-size: $font_bigger;
    text-transform: uppercase;
    font-weight: 400;
    
    &:focus{
        color: $color_text_default;
        outline: none;
        border: none;
    }
}