.sidebar {
    
    &_arrow {
        display: flex;
        flex-direction: column;
        opacity: .8;

        img {
            // display: flex;
            max-width: 2rem;
        }
    }
    .sidebar_container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sidebar_text {
            align-self: center;
            margin-left: .5rem;
        }

        .sidebar_left, .sidebar_right {
            a {
                font-size: $font_slightly_bigger;
                color: $main_color;
                display: flex;
                justify-content: center; 
                span, img {
                    pointer-events: none; // to avoid event target conflict
                }
            }
        }

        .sidebar_left {

        }

        .sidebar_right {

        }
    }
}