.slideshow,
.slideshow_full_screen {
    position: relative;
}

.slideshow {
    max-width: 60rem;
    margin: 0 auto;
}

.slideshow_full_screen {
    width: 100%;
}

.img_container {
    height: 30rem;
    display: flex;
    margin: auto;
}

.img_container_smaller {
    height: 25rem;
    display: flex;
    margin: auto;
}

.img_container_bigger {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    margin: auto;

    img {
        object-position: bottom center;
    }
}

.slideshow_photo {
    object-fit: cover;
    width: 100%;
    object-position: center center;
    text-align: center;
    @include small_border_radius_top();
}

.arrow {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    object-position: center center;
    margin: auto;
    opacity: .8;
}

.arrow_left,
.arrow_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow_left {
    left: -2rem;
}

.arrow_right {
    right: -2rem;
}

.slideshow_caption {
    @include small_shadow();
    border: black;
    @include small_border_radius_bottom();
    padding: 2rem 3rem;
    display: block;
    flex-direction: column;
    background-color: $main_color;
    color: $color_lightest;

    text-transform: uppercase;

    .top, .bottom {
        display: block;
        text-align: center;
    }

    .top {
        font-size: $font_bigger;
        letter-spacing: .4rem;
        margin-bottom: 2rem;
    }

    .bottom {
        font-size: $font_bigger;
        font-weight: 300;
        letter-spacing: .1rem;
    }
}

.slideshow_thumb_container {
    @include flex_center_center;
    flex-direction: row;
    max-width: 100%;
    margin-top: 2rem;
    position: relative;

    .slideshow_photo {
        width: 50%;
        margin: .5rem;
        max-height: 100%;
    }
}