@mixin tiny_shadow {
    box-shadow: 0 2px 5px lightgray;
}

@mixin small_shadow {
    box-shadow: 0 3px 5px lightgray;
}

@mixin medium_shadow {
    box-shadow: 0 4px 5px lightgray;
}


@mixin small_border_radius_top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

@mixin small_border_radius_bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

@mixin small_border_radius {
    border-radius: 4px;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

@mixin flex_center_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex_space-between_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex_space-around_center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flex_column_center_start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin hamburger_transform_to_cross {
    .bar:nth-child(1) {
        opacity: 0;
        transform: translateY(-2rem);
    }

    .bar:nth-child(2) {
        transform: rotate(45deg);
    }

    .bar:nth-child(3) {
        transform: rotate(-45deg) translate(.6rem, -.7rem);
    }
}