// ------------------------
// COLORS
// ------------------------

$color_text_default: #4E4E4E;
$color_light: #EEE;
$main_color: #E54B4B;    
$color_lightest: white;

// ------------------------
// FONT SIZE
// ------------------------

$font_bigger: 1.9rem;
$font_slightly_bigger: 1.6rem;
$font_common: 1.5rem;
$font_slightly_smaller: 1.4rem;

// ------------------------
// MARGINS
// ------------------------

$margin_bottom_mini: 1rem;
$margin_bottom_medium: 2rem;
$margin_bottom_bigger: 3rem;
$margin_bottom_big: 4rem;